html {
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: sans-serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.05em;
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
  color: #333;
  background-color: #eee;
}

main {
  width: 45em;
  max-width: calc(100% - 3em);
  margin: auto auto 5em auto;
}

p {
  color: #666;
  line-height: 1.66em;
  letter-spacing: 0.03em;
}

img {
  max-width: 100%;
}

ul p {
  margin-left: 2em;
}

.unibalogo {
  display: block;
  width: 66%;
  max-width: 146px;
  margin: 2em auto 3em auto;
}