html {
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  -webkit-text-size-adjust: 100%;
  color: #333;
  background-color: #f8f8f8;
  font-family: sans-serif;
  font-feature-settings: "palt";
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4 {
  margin: 2em 0 0 0;
  word-break: keep-all;
  line-height: 1.2em;
  letter-spacing: 0.02em;
}

header {
  position: relative;
  margin: 3em 3em 1.5em 3em;
  padding: 0 0 3em 0;
  text-align: center;
}

main {
  width: 45em;
  max-width: calc(100% - 3em);
  margin: auto auto 5em auto;
}

article {
  margin: 2em 0;
}

p {
  line-height: 1.66em;
  letter-spacing: 0.03em;
}

img {
  max-width: 100%;
}

ul p {
  margin-left: 2em;
}

a {
  color: blue;
  text-decoration: underline;
  text-decoration-color: white;
}